.frame {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: start;

	.frame-element {
		margin-bottom: 1em;

		button, a {
			min-width: 20em;
		}
	}
}
