.game-window {
  height: 100%;
  width: 100%;
}

.game-header, .game-footer {
  display: flex;
  justify-content: center;

  a { margin: 1em; }
}

.card-layout {
  display: flex;
  flex-wrap: wrap;
}
